@import 'antd/dist/reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #fff5f2;
  --secondary: #f7951b;
  --tertiary: #f66a24;
}

html {
  @apply font-roboto;
  scroll-behavior: smooth;
}

body {
  @apply bg-loyalty-blue-100;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}

/* .load_linear * {
  animation: animationLinear 0.3s linear;
} */

.load_linear {
  animation: animationLinear 0.3s linear;
}

@keyframes animationLinear {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.load_left_to_right {
  animation: animationLeftToRight 0.5s;
}

@keyframes animationLeftToRight {
  from {
    opacity: 0.3;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.input-information {
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 10px;
  display: inline-flex;
}
.input-information *::-webkit-scrollbar {
  display: none;
}

.input-information .input-information-options {
  min-width: 100px;
  @apply font-roboto text-[13px] font-normal;
}

.card-product {
  animation: animationProduct 0.7s;
}

@keyframes animationProduct {
  0% {
    opacity: 0.5;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
